<%= form_for @events_user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @events_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_user.errors.count, "error") %> prohibited this events_user from being saved:</h2>

      <ul>
      <% @events_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>イベント名</div>
    <%= @event.name %><br><br>
    <div>詳細</div>
    <%= @event.brief %><br><br>
    <%= f.hidden_field :event_id, :value=>@event.id %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.collection_select :user_id, @users, :id, :name, {:include_blank => '選択してください'} %>
    <br><br>
  </div>
  <div class="field">
    <%= f.label :attend_flg %>
    <%= f.select :attend_flg, [['出席', 1], ['欠席', 2], ['未定', 3]], {:include_blank => '選択してください'} %>
    <br><br>
  </div>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <br><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
