<h1>Listing events_users</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Attend flg</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events_users.each do |events_user| %>
      <tr>
        <td><%= events_user.event %></td>
        <td><%= events_user.user %></td>
        <td><%= events_user.attend_flg %></td>
        <td><%= events_user.comment %></td>
        <td><%= link_to 'Show', events_user %></td>
        <td><%= link_to 'Edit', edit_events_user_path(events_user) %></td>
        <td><%= link_to 'Destroy', events_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Events user', new_events_user_path %>
